version: "3.4"
services:
  test:
    image: "amir20/clashleaders:${TAG:-latest}"
    command: "python setup.py test"
    environment:
      - API_TOKEN=not-valid
      - FLASK_APP=clashleaders
      - BUGSNAG_API_KEY=
      - FLASK_ENV=test
    depends_on:
      - redis
    volumes:
      - ./clashleaders:/app/clashleaders
      - ./tests/:/app/tests
  mongo:
    volumes:
      - ./:/clashleaders
      - ./mongosnapshot:/docker-entrypoint-initdb.d
  web:
    environment:
      - API_TOKEN=not-valid
      - FLASK_APP=clashleaders
      - BUGSNAG_API_KEY=
      - FLASK_ENV=test
      - IMGPROXY_KEY=01
      - IMGPROXY_SALT=01
      - IMGPROXY_BASE=http://imgproxy-cache:2015/
  imgproxy:
    environment:
      - IMGPROXY_KEY=01
      - IMGPROXY_SALT=01
  integration:
    image: "amir20/clashleaders-int-tests:${TAG:-latest}"
    command: "./wait-for-it.sh web:80 -- npm test"
    environment:
      - BASE=http://web/
    volumes:
        - ./integration/__image_snapshots__:/app/__image_snapshots__
    build:
      context: ./integration
      dockerfile: Dockerfile
    depends_on:
      - web
