version: "3.4"
services:
  mongo:
    volumes:
      - ./:/clashleaders
      - ./mongosnapshot:/docker-entrypoint-initdb.d
  worker:
    env_file: .env
    environment:
      - ENABLE_CACHE=true
    volumes:
      - ./clashleaders:/app/clashleaders
      - .ipython/scheduler:/root/.ipython/profile_default
  rq_player_worker:
    env_file: .env
    volumes:
      - ./clashleaders:/app/clashleaders
      - .ipython/scheduler:/root/.ipython/profile_default
  rq_war_worker:
    env_file: .env
    volumes:
      - ./clashleaders:/app/clashleaders
      - .ipython/scheduler:/root/.ipython/profile_default
  web:
    env_file: .env
    ports:
      - "8000:80"
    volumes:
      - ./clashleaders:/app/clashleaders
      - ./tests/:/app/tests
      - ./setup.cfg:/app/setup.cfg
      - ./Makefile:/app/Makefile
      - ./caddy/Caddyfile:/etc/Caddyfile
      - .ipython/web:/root/.ipython/profile_default
  imgproxy-cache:
    ports:
      - "8888:2015"
  imgproxy:
    env_file: .env
  cron:
    env_file: .env
    volumes:
      - ./clashleaders:/app/clashleaders
      - .ipython/scheduler:/root/.ipython/profile_default
