[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiodns = "*"
aiohttp = "*"
async_timeout = "*"
blinker = "*"
cchardet = "*"
certifi = "*"
chardet = "*"
click = "*"
"contextlib2" = "*"
Flask = "*"
Flask-Caching = "*"
gunicorn = "*"
idna = "*"
itsdangerous = "*"
"Jinja2" = "*"
MarkupSafe = "*"
mongoengine = "*"
multidict = "*"
numpy = "*"
pandas = "*"
pycares = "*"
pymongo = "*"
requests = {extras = ["security"]}
schedule = "*"
"urllib3" = "*"
Werkzeug = "*"
XlsxWriter = "*"
yarl = "*"
awesome-slugify = "*"
flask-shell-ipython = "*"
user-agents = "*"
bugsnag = {extras = ["flask"]}
scikit-learn = "*"
scipy = "*"
Pympler = "*"
uvloop = "*"
cairosvg = "*"

[dev-packages]
pytest = "*"
pytest-runner = "*"
snapshottest = "*"
pytest-mock = "*"
freezegun = "*"
pytest-freezegun = "*"
pytest-cov = "*"
xlrd = "*"
aioresponses = "*"
"pep8" = "*"
