www.clashleaders.com:443 {
    root /app/clashleaders

    tls /etc/certs/www_clashleaders_com.crt /etc/certs/www_clashleaders_com.key

    proxy / unix:/tmp/gunicorn.sock {
        transparent
        except /favicon.ico /robots.txt /static
    }

    expires {
        match /static 1y
        match /clan/.*/short.json$ 1d
        match /clan/.*/trophies.json$ 1d
        match /clan/.*/similar/avg.json$ 1d
    }

    header /static {
        Cache-Control "public, max-age=31536000"
    }

    header / {
        # Enable HTTP Strict Transport Security (HSTS) to force clients to always
        # connect via HTTPS (do not use if only testing)
        Strict-Transport-Security "max-age=31536000;"
        # Enable cross-site filter (XSS) and tell browser to block detected attacks
        X-XSS-Protection "1; mode=block"
        # Prevent some browsers from MIME-sniffing a response away from the declared Content-Type
        X-Content-Type-Options "nosniff"
        # Disallow the site to be rendered within a frame (clickjacking protection)
        X-Frame-Options "DENY"
    }

    gzip
    log / stdout {combined}
    errors stdout
}


clashleaders.com:80 {
   redir https://www.clashleaders.com{uri}
   tls off
}

localhost:8000 {
   proxy / unix:/tmp/gunicorn.sock {
        transparent
    }
}
