:80 {
	root * /app/clashleaders
	file_server

	@proxy {
		not {
			path /static/*
		}

		not {
			path /robots.txt
		}
	}

	header /static/* {
		Cache-Control "public, max-age=31536000"
	}

	header /* {
		-server
	}

	reverse_proxy @proxy unix//tmp/gunicorn.sock

	encode gzip
	log {
		output stdout
	}
}
