https://www.clashleaders.com {
    root /app/clashleaders

    tls findamir@gmail.com

    proxy / unix:/tmp/gunicorn.sock {
        transparent
        except /favicon.ico /robots.txt /static
    }

    expires {
        match /static 1y
        match /clan/.*/short.json$ 1d
        match /clan/.*/trophies.json$ 1d
        match /clan/.*/similar/avg.json$ 1d
    }

    header /static {
        Cache-Control "public, max-age=31536000"
    }

    gzip
    log / stdout
    errors stdout
}


clashleaders.com {
   redir https://www.clashleaders.com
}

https://clashstats.download {
   redir https://www.clashleaders.com{uri}
}
