{% extends "layout.html" %} {% block body %}
<main class="container section">
  <div class="columns is-centered is-vcentered section">
    <div class="column is-3 is-hidden-mobile">
      <picture>
        <source srcset="{{ url_for('static', filename='images/oops.webp') }}" type="image/webp" />
        <source srcset="{{ url_for('static', filename='images/oops.png') }}" type="image/png" />
        <img src="{{ url_for('static', filename='images/oops.png') }}" alt="Barbarian" />
      </picture>
    </div>
    <div class="column">
      <section class="hero">
        <div class="hero-body">
          <h1 class="title is-1">Sorry, chief! This page doesn't exist.</h1>
          <p>Sorry, but the page or file you were trying to access does not exist.</p>
          <p>It looks like this was the result of either a mistyped address or a link that was out of date.</p>

          <p class="section"><a href="{{ url_for('index') }}" class="button is-large is-warning">Home Page</a></p>
        </div>
      </section>
    </div>
  </div>
</main>
{% endblock %}
