{% extends "layout.html" %} {% block body %}
<section class="container content section">
  <h1>Hello Chief</h1>
  <p>
    My name is Amir. Like you, I also spend a lot of my time playing
    <a href="http://supercell.com/en/games/clashofclans/">Clash of Clans</a>. Besides playing Clash of Clans, I am also a software engineer. Back in the good
    ol' days, each clan leader would record player stats manually. A short while later Supercell released their <a href="https://developer.clashofclans.com/"></a>Clash of Clans API</a>.
    There were many websites that let you download your stats, but none of them had every data possible. My nerdy side got curious. I knew python pretty well and I automated the data
    retrieval. I created a simple website called ClashStats.download and shared it mostly amongst ourselves and on Reddit at <a href="https://www.reddit.com/r/ClashOfClans/">/r/ClashOfClans</a>.
  </p>

  <p>
    As the website started getting a lot of attention, more features were added. I re-branded the website to ClashLeaders.com. I made the website very simple to
    use because a lot of people are data nerds like me. I visualized the data using a simple spreadsheet and graphs. However, I wanted to offer more than just
    data. My goal is to differentiate this website by offering insights. Every Clash of Clan website lets you see your data and download. But very few offer
    similar clans based on Clan activity. My goal is to make it easy to see your clan's activity and also offer insights that you may have never known about
    yourself.
  </p>

  <p>u/amir20</p>
</section>
{% endblock %}{% block title %}About{% endblock %}
