{% extends "layout.html" %}{% macro insight(label, value, delta, value_name, delta_name, tooltip=None) -%}
<div class="level-item has-text-centered">
  <div>
    {% if tooltip %}
    <p class="heading is-tooltip-right tooltip is-tooltip-multiline" data-tooltip="{{ tooltip }}">{{ label }} <i class="fas fa-info-circle"></i></p>
    {% else %}
    <p class="heading">{{ label }}</p>
    {% endif %}
    <p class="title">
      <clan-field :initial-value="{{value}}" name="{{ value_name }}" class="has-text-weight-light"></clan-field> <br />
      <clan-field
        :initial-value="{{delta}}"
        name="{{ delta_name }}"
        show-plus-sign
        class="tag"
        positive-class="is-success"
        negative-class="is-danger"
      ></clan-field>
    </p>
  </div>
</div>
{%- endmacro %}{% block body %}
<div id="app">
  <section class="hero is-warning">
    <div class="hero-body">
      <div class="container is-fluid">
        <div class="columns is-multiline is-centered">
          <div class="column is-12-tablet is-9-desktop is-10-widescreen">
            <div class="columns is-vcentered has-text-centered-mobile">
              <div class="column is-narrow">
                <img src="{{ imgproxy_url(clan.badgeUrls.medium) }}" width="128" alt="{{ clan.tag }}" />
              </div>
              <div class="column">
                <div class="columns">
                  <div class="column">
                    <h1 class="title">{{ clan.name }}</h1>
                    <h2 class="subtitle is-6 has-text-weight-light">
                      <span class="has-text-weight-semibold"> <clan-field :initial-value="{{ clan.members }}" name="members"></clan-field> members </span>
                      ●
                      <span class="has-text-weight-semibold"> Level <clan-field :initial-value="{{ clan.clanLevel }}" name="clanLevel"></clan-field></span>
                      {% if clan.location.countryCode %} ●
                      <span class="flag-icon flag-icon-{{ clan.location.countryCode | lower }}"></span>
                      <a href="{{ url_for('country_clans', code=clan.location.countryCode.lower()) }}">
                        <span class="has-text-weight-semibold">{{ clan.location.name }}</span>
                      </a>
                      {% endif %} ●
                      <span class="has-text-weight-semibold"> {{ clan.tag }}</span>

                      {% if 'reddit' in clan.verified_accounts %} ●
                      <span class="has-text-weight-bold">
                        <i class="fab fa-reddit fa-lg reddit-color"></i> Verified Reddit Clan
                        <i class="fas fa-check has-text-success"></i>
                      </span>
                      {% endif %}
                      <div class="has-text-weight-light">
                        <i> <last-updated></last-updated> </i>
                      </div>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
            <p class="subtitle clan-description">{{ clan.rich_description | safe }}</p>
            <div class="level">
              <!-- Total Trophies -->
              {{ insight( "Total Trophies", clan.clanPoints, clan.week_delta.total_trophies, "clanPoints", "weekDelta.totalTrophies", "Delta is calculated based
              on data between today and last week." ) }}
              <!-- Total BH Trophies -->
              {{ insight("Total BH Trophies", clan.clanVersusPoints, clan.week_delta.total_bh_trophies, "clanVersusPoints", "weekDelta.totalBhTrophies" ) }}
              <!-- Donations -->
              {{ insight("Donations", clan.computed.total_donations, clan.week_delta.total_donations, "computed.totalDonations", "weekDelta.totalDonations") }}
              <!-- Total Wins -->
              {{ insight("Total Wins", clan.computed.total_attack_wins, clan.week_delta.total_attack_wins, "computed.totalAttackWins",
              "weekDelta.totalAttackWins" ) }}
              <!-- Total Versus Wins -->
              {{ insight("Total Versus Wins", clan.computed.total_versus_wins, clan.week_delta.total_versus_wins, "computed.totalVersusWins",
              "weekDelta.totalVersusWins") }}
            </div>
            <div class="has-text-centered is-touch-only">
              <a class="button is-info" href="clashofclans://action=OpenClanProfile&tag={{ clan.tag }}">
                <span class="icon"> <i class="fas fa-external-link-alt"></i></span> <span>Open Clan in Game</span>
              </a>
            </div>
            <div class="is-hidden-mobile">
              <trophy-chart></trophy-chart>
            </div>
          </div>

          <div class="column is-5-tablet is-3-desktop is-2-widescreen">
            <div class="panel is-primary scorecard">
              <h3 class="panel-heading has-text-centered">Clan Scorecard&trade;</h3>
              <div class="panel-block">
                <clan-score
                  title="Champion War League"
                  :score="{{ clan.month_delta.avg_cwl_stars_percentile }}"
                  field="monthDelta.avgCwlStarsPercentile"
                ></clan-score>
              </div>
              <div class="panel-block">
                <clan-score title="Clan Games" :score="{{ clan.month_delta.avg_games_xp_percentile }}" field="month_delta.avgGamesXpPercentile"></clan-score>
              </div>
              <div class="panel-block">
                <clan-score title="Clan Wars" :score="{{ clan.week_delta.avg_war_stars_percentile }}" field="weekDelta.avgWarStarsPercentile"></clan-score>
              </div>
              <div class="panel-block">
                <clan-score title="Donations" :score="{{ clan.week_delta.avg_donations_percentile }}" field="weekDelta.avgDonationsPercentile"></clan-score>
              </div>
              <div class="panel-block">
                <clan-score
                  title="Attacks Won"
                  :score="{{ clan.week_delta.avg_attack_wins_percentile }}"
                  field="weekDelta.avgAttackWinsPercentile"
                ></clan-score>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-footer">
      <div class="columns">
        <div class="column"><table-nav></table-nav></div>
        <div class="column is-narrow is-hidden-mobile">
          <download-button></download-button>
        </div>
      </div>
    </div>
  </section>
  <section id="clan-table">
    <clan-table tag="{{ clan.tag }}" name="{{ clan.name }}" oldest-days="{{ oldest_days }}"></clan-table>
    <notification></notification>
  </section>
</div>
{% endblock %} {% block scripts %}
<script>
  const __INITIAL_STATE__ = {{ initial_state | tojson | safe }};
</script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "{{ url_for('index', _external=True) }}",
          "name": "Clash Leaders"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "{{ url_for('clan_detail_page', slug=clan.slug, _external=True) }}",
          "name": "{{ clan.name }}"
        }
      }
    ]
  }
</script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "headline": "{{ clan.name }}",
    "description": "{{ clan.name }} | {{ clan.tag }} {{ clan.description.replace('\n', ' ').replace('\r', '') }} at Clash Leaders",
    "dateModified": "{{ clan.updated_on.isoformat() }}",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "http://www.clashleaders.com/"
    },
    "image": ["{{ url_for('clan_badge_png', size='large', tag=clan.tag.lstrip('#'), _external=True) }}"],
    "publisher": {
      "@type": "Organization",
      "name": "Clash Leaders",
      "url": "http://www.clashleaders.com/",
      "logo": {
        "@type": "ImageObject",
        "name": "clashLeaderLogo",
        "width": "200",
        "height": "200",
        "url": "{{ url_for('static', filename='images/logo.png', _external=True) }}"
      }
    },
    "author": {
      "@type": "Organization",
      "name": "Clash Leaders",
      "url": "http://www.clashleaders.com/"
    }
  }
</script>
<script defer src="{{ manifest_path('clan-page.js') }}"></script>
{% endblock %}{% block title %}{{ clan.name }} - {{ clan.tag }}{% endblock %} {% block meta %}
<meta name="twitter:card" content="summary" />
<meta name="description" content="{{ clan.name }} | {{ clan.tag }} {{ clan.description.replace('\n', ' ').replace('\r', '') }} at Clash Leaders" />
<meta name="keywords" content="{{ clan.name }}, clash of clans, export, excel, achievements, leaderboard" />
<meta property="og:title" content="{{ clan.name }} - Clash Leaders" />
<meta property="og:image" content="{{ url_for('clan_badge_png', size='large', tag=clan.tag.lstrip('#'), _external=True) }}" />
<meta property="og:description" content="{{ clan.name }} | {{ clan.tag }} {{ clan.description.replace('\n', ' ').replace('\r', '') }} at Clash Leaders." />
<link rel="canonical" href="{{ url_for('clan_detail_page', slug=clan.slug, _external=True) }}" />
{% endblock %} {% block nav_class %}is-light{% endblock %}
