{% extends "layout.html" %}{% macro insight(label, value, delta, value_name, delta_name, tooltip=None) -%}
<div class="level-item has-text-centered">
  <div>
    {% if tooltip %}
    <p class="heading is-tooltip-right tooltip is-tooltip-multiline" data-tooltip="{{ tooltip }}">{{ label }} <i class="fas fa-info-circle"></i></p>
    {% else %}
    <p class="heading">{{ label }}</p>
    {% endif %}
    <p class="title">
      <clan-field :initial-value="{{value}}" name="{{ value_name }}"></clan-field> <br />
      <clan-field
        :initial-value="{{delta}}"
        name="{{ delta_name }}"
        show-plus-sign
        class="tag"
        positive-class="is-success"
        negative-class="is-danger"
      ></clan-field>
    </p>
  </div>
</div>
{%- endmacro %}{% block body %}
<div id="app">
  <section class="hero is-warning is-bold">
    <div class="hero-body">
      <div class="container is-fluid">
        <div class="columns">
          <div class="column is-narrow is-hidden-mobile">
            <h5
              class="title is-5 is-tooltip-right tooltip is-tooltip-multiline"
              data-tooltip="Similar clans are based on clan activity and progress in the last 24 hours."
            >
              Similar Clans <i class="fas fa-info-circle"></i>
            </h5>
            <ol start="{{ similar_clans_start_count }}" class="leaderboard">
              {% for similar in similar_clans %}
              <li class="{{ 'active' if similar==clan else ''}}">
                <a href="{{ url_for('clan_detail_page', slug=similar.slug) }}" data-position="{{ similar_clans_start_count + loop.index0}}">
                  <div class="media">
                    <div class="media-left">
                      <span class="icon is-large">
                        <img src="{{ imgproxy_url(similar.badgeUrls.small) }}" alt="{{ similar.name }}" width="48" />
                      </span>
                    </div>
                    <div class="media-content">
                      <p>
                        <strong>{{ similar.name }}</strong>
                      </p>
                      <div class="level is-mobile">
                        <small class="level-left">
                          {% if similar.location.countryCode %}
                          <span class="level-item">
                            <span class="flag-icon flag-icon-{{ similar.location.countryCode | lower }}"></span>
                          </span>
                          {% endif %}
                          <span class="level-item">
                            <span class="icon"> <i class="fas fa-trophy" aria-hidden="true"></i> </span>
                            {{ "{:,}".format(similar.clanPoints) }}
                          </span>
                        </small>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              {% endfor %}
            </ol>
          </div>
          <div class="column">
            <div class="columns is-vcentered has-text-centered-mobile">
              <div class="column is-narrow">
                <img src="{{ imgproxy_url(clan.badgeUrls.medium) }}" width="128" alt="{{ clan.tag }}" />
              </div>
              <div class="column">
                <div class="columns">
                  <div class="column">
                    <h1 class="title">{{ clan.name }}</h1>
                    <h2 class="subtitle is-6 has-text-weight-light">
                      <span class="has-text-weight-semibold"> <clan-field :initial-value="{{ clan.members }}" name="members"></clan-field> members </span>
                      ●
                      <span class="has-text-weight-semibold"> Level <clan-field :initial-value="{{ clan.clanLevel }}" name="clanLevel"></clan-field></span>
                      {% if clan.location.countryCode %} ●
                      <span class="flag-icon flag-icon-{{ clan.location.countryCode | lower }}"></span>
                      <a href="{{ url_for('country_clans', code=clan.location.countryCode.lower()) }}">
                        <span class="has-text-weight-semibold">{{ clan.location.name }}</span>
                      </a>
                      {% endif %}
                      ●
                      <span class="has-text-weight-semibold"> {{ clan.tag }}</span>
                    </h2>
                  </div>
                  <div class="column is-narrow has-text-right has-text-centered-mobile">
                    {% if 'reddit' in clan.verified_accounts %}
                    <div class="has-text-weight-bold">
                      <i class="fab fa-reddit fa-lg reddit-color"></i> Verified Reddit Clan
                      <i class="fas fa-check has-text-success"></i>
                    </div>
                    {% endif %}
                    <div class="has-text-weight-light">
                      <i> <last-updated></last-updated> </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p class="subtitle clan-description">{{ description | safe }}</p>
            <div class="level">
              <!-- Total Trophies -->
              {{ insight( "Total Trophies", clan.clanPoints, clan.week_delta.total_trophies, "clanPoints", "weekDelta.totalTrophies", "Delta is calculated based
              on data between today and last week." ) }}
              <!-- Total BH Trophies -->
              {{ insight("Total BH Trophies", clan.clanVersusPoints, clan.week_delta.total_bh_trophies, "clanVersusPoints", "weekDelta.totalVersusWins" ) }}
              <!-- Donations -->
              {{ insight("Donations", clan.computed.total_donations, clan.week_delta.total_donations, "computed.totalDonations", "weekDelta.totalDonations") }}
              <!-- Total Wins -->
              {{ insight("Total Wins", clan.computed.total_attack_wins, clan.week_delta.total_attack_wins, "computed.totalAttackWins",
              "weekDelta.totalAttackWins" ) }}
              <!-- Total Versus Wins -->
              {{ insight("Total Versus Wins", clan.computed.total_versus_wins, clan.week_delta.total_versus_wins, "computed.totalVersusWins",
              "weekDelta.totalVersusWins") }}
            </div>
            <div class="has-text-centered is-touch-only">
              <a class="button is-info"
                 href="clashofclans://action=OpenClanProfile&tag={{ clan.tag }}">
                <span class="icon"> <i class="fas fa-external-link-alt"></i></span> <span>Open Clan in Game</span>
              </a>
            </div>
            <div class="is-hidden-mobile">
              <trophy-chart :distribution-data="{{ trophy_distribution | tojson | forceescape }}"></trophy-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-footer">
      <div class="columns">
        <div class="column"><table-nav></table-nav></div>
        <div class="column is-narrow is-hidden-mobile">
          <div class="dropdown is-hoverable is-right has-text-left">
            <div class="dropdown-trigger">
              <button class="button is-danger" aria-haspopup="true" aria-controls="dropdown-menu">
                <span class="icon"> <i class="fa fa-download"></i> </span> <span>Export to Excel</span>
                <span class="icon is-small"> <i class="fa fa-angle-down" aria-hidden="true"></i> </span>
              </button>
            </div>
            <div class="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a class="dropdown-item" href="{{ clan.slug }}.xlsx"> Today </a>
                <hr class="dropdown-divider" />
                <a class="dropdown-item" href="{{ clan.slug }}.xlsx?daysAgo=1"> Yesterday </a>
                <a class="dropdown-item" href="{{ clan.slug }}.xlsx?daysAgo=2"> Two Days Ago </a>
                <a class="dropdown-item" href="{{ clan.slug }}.xlsx?daysAgo=3"> Three Days Ago </a>
                <hr class="dropdown-divider" />
                <a class="dropdown-item" href="{{ clan.slug }}.xlsx?daysAgo=7"> Last Week </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="clan-table">
    <clan-table tag="{{ clan.tag }}" name="{{ clan.name }}" oldest-days="{{ oldest_days }}"></clan-table>
    <notification></notification>
  </section>
</div>
{% endblock %} {% block scripts %}
<script>
  window.__INITIAL_STATE__ = {{ initial_state | tojson | safe }};
</script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "{{ url_for('index', _external=True) }}",
          "name": "Clash Leaders"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "{{ url_for('clan_detail_page', slug=clan.slug, _external=True) }}",
          "name": "{{ clan.name }}"
        }
      }
    ]
  }
</script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "headline": "{{ clan.name }}",
    "description": "{{ clan.name }} | {{ clan.tag }} {{ clan.description.replace('\n', ' ').replace('\r', '') }} at Clash Leaders",
    "dateModified": "{{ clan.updated_on.isoformat() }}",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "http://www.clashleaders.com/"
    },
    "image": ["{{ url_for('clan_badge_png', size='large', tag=clan.tag.lstrip('#'), _external=True) }}"],
    "publisher": {
      "@type": "Organization",
      "name": "Clash Leaders",
      "url": "http://www.clashleaders.com/",
      "logo": {
        "@type": "ImageObject",
        "name": "clashLeaderLogo",
        "width": "200",
        "height": "200",
        "url": "{{ url_for('static', filename='images/logo.png', _external=True) }}"
      }
    },
    "author": {
      "@type": "Organization",
      "name": "Clash Leaders",
      "url": "http://www.clashleaders.com/"
    }
  }
</script>
<script defer src="{{ manifest_path('clan-page.js') }}"></script>
{% endblock %}{% block title %}{{ clan.name }} - {{ clan.tag }}{% endblock %} {% block meta %}
<meta name="twitter:card" content="summary" />
<meta name="description" content="{{ clan.name }} | {{ clan.tag }} {{ clan.description.replace('\n', ' ').replace('\r', '') }} at Clash Leaders" />
<meta name="keywords" content="{{ clan.name }}, clash of clans, export, excel, achievements, leaderboard" />
<meta property="og:title" content="{{ clan.name }} - Clash Leaders" />
<meta property="og:image" content="{{ url_for('clan_badge_png', size='large', tag=clan.tag.lstrip('#'), _external=True) }}" />
<meta property="og:description" content="{{ clan.name }} | {{ clan.tag }} {{ clan.description.replace('\n', ' ').replace('\r', '') }} at Clash Leaders." />
<link rel="canonical" href="{{ url_for('clan_detail_page', slug=clan.slug, _external=True) }}" />
{% endblock %} {% block nav_class %}is-light{% endblock %}
