{% from 'macros/list.html' import clan_list %} {% extends "layout.html" %} {% block body %}
<main class="container section">
  <h1 class="title is-2">Top {{ name }} Clans</h1>
  <div class="tabs">
    <ul>
      <li {% if sort == 'trophies' %} class="is-active"{% endif%}><a href="{{ url_for('country_clans', code=code, sort='trophies') }}">Highest Trophies</a></li>
      <li {% if sort == 'cwl' %} class="is-active"{% endif%}><a href="{{ url_for('country_clans', code=code, sort='cwl') }}">CWL Score</a></li>
      <li {% if sort == 'wars' %} class="is-active"{% endif%}><a href="{{ url_for('country_clans', code=code, sort='wars') }}">Clan Wars Score</a></li>
      <li {% if sort == 'donations' %} class="is-active"{% endif%}><a href="{{ url_for('country_clans', code=code, sort='donations') }}">Donations Score</a></li>
      <li {% if sort == 'clan-games' %} class="is-active"{% endif%}><a href="{{ url_for('country_clans', code=code, sort='clan-games') }}">Clan Games Score</a></li>
      <li {% if sort == 'attacks' %} class="is-active"{% endif%}><a href="{{ url_for('country_clans', code=code, sort='attacks') }}">Attacking Score</a></li>
    </ul>
  </div>
  {{ clan_list(clans) }}
</main>
{% endblock %} {% block title %}Top {{ name }} Clans{% endblock %}{% block meta %}
<meta name="description" content="Top {{ name }} Clans by trophies - Clash Leaders" />
<meta name="keywords" content="{{ name }}, clash of clans, achievements, leaderboard" />
<meta property="og:title" content="Top {{ name }} Clans - Clash Leaders" />
{% endblock %}
