{% macro country_leaderboard(name, aggregate_by_country, formatter="{:,.1f}M", factor=1000000) -%}
<nav class="panel leaderboard">
  <h3 class="panel-heading">{{ name | safe }}</h3>

  {% for country in aggregate_by_country %}
  <a class="panel-block" href="{{ url_for('country_clans', code=country.code) }}">
    <span class="panel-icon"> <span class="flag-icon flag-icon-{{ country.code }}"></span> </span> {{ country.name }}
    <span class="value subtitle is-7">{{ formatter.format(country.score / factor) }}</span>
  </a>
  {% endfor %}
</nav>
{%- endmacro %}
