{% from 'macros/list.html' import clan_list %} 
{% extends "layout.html" %} {% block body %}
<main class="container section">
  <div class="tabs">
    <ul>
      <li {% if sort == 'most-popular' %} class="is-active"{% endif%}><a href="{{ url_for('explore_clans', sort='most-popular') }}">Popular Today</a></li>
      <li {% if sort == 'cwl' %} class="is-active"{% endif%}><a href="{{ url_for('explore_clans', sort='cwl') }}">CWL Score</a></li>
      <li {% if sort == 'wars' %} class="is-active"{% endif%}><a href="{{ url_for('explore_clans', sort='wars') }}">Clan Wars Score</a></li>
      <li {% if sort == 'donations' %} class="is-active"{% endif%}><a href="{{ url_for('explore_clans', sort='donations') }}">Donations Score</a></li>
      <li {% if sort == 'clan-games' %} class="is-active"{% endif%}><a href="{{ url_for('explore_clans', sort='clan-games') }}">Clan Games Score</a></li>
      <li {% if sort == 'attacks' %} class="is-active"{% endif%}><a href="{{ url_for('explore_clans', sort='attacks') }}">Attacking Score</a></li>
    </ul>
  </div>
  {{ clan_list(clans) }}
</main>
{% endblock %} {% block title %}Explore {{ title }}{% endblock %}{% block meta %}
<meta name="description" content="Explore {{ title }} - Clash Leaders" />
<meta name="keywords" content="Explore {{ title }}, clash of clans, achievements, leaderboard" />
<meta property="og:title" content="Explore {{ title }} - Clash Leaders" />
{% endblock %}
