{% extends "layout.html" %} {% block body %}

<main class="container section">
  <div class="tabs">
    <ul>
      <li {% if sort == 'most-popular' %} class="is-active"{% endif%}><a href="{{ url_for('explore_clans', sort='most-popular') }}">Popular Today</a></li>
      <li {% if sort == 'most-attacks' %} class="is-active"{% endif%}><a href="{{ url_for('explore_clans', sort='most-attacks') }}">Most Attacks</a></li>
      <li {% if sort == 'most-versus-attacks' %} class="is-active"{% endif%}><a href="{{ url_for('explore_clans', sort='most-versus-attacks') }}">Most Versus Attacks</a></li>
      <li {% if sort == 'most-donations' %} class="is-active"{% endif%}><a href="{{ url_for('explore_clans', sort='most-donations') }}">Most Donations</a></li>
      <li {% if sort == 'most-war-stars' %} class="is-active"{% endif%}><a href="{{ url_for('explore_clans', sort='most-war-stars') }}">Most War Stars</a></li>
    </ul>
  </div>
  <ol>
    {% for clan in clans %}
    <li class="media">
      <figure class="media-left">
        <p class="image is-64x64"><img src="{{ imgproxy_url(clan.badgeUrls.medium) }}" alt="{{ clan.name }} badge" /></p>
      </figure>
      <div class="media-content columns">
        <div class="column">
          <div class="content">
            <p>
              <strong>
                <a href="{{ url_for('clan_detail_page', slug=clan.slug) }}">{{ clan.name }}</a>
              </strong>
              <small
                >from {% if clan.location.countryCode %} <span class="flag-icon flag-icon-{{ clan.location.countryCode | lower }}"></span> {% endif %} {{
                clan.location.name }}
              </small>
              <small>with {{ clan.members }} members</small> <br />
              {{ clan.description | safe }}
            </p>
          </div>
        </div>
        <div class="column is-5-desktop is-6-tablet is-4-widescreen">
          <div class="level is-mobile">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Total Trophies</p>
                <p class="title">{{ "{:,}".format(clan.clanPoints) }}</p>
                <p>
                  <span class="tag {{'is-success' if clan.week_delta.total_trophies > 0 else 'is-danger'}}"
                    >{{ "{:+,}".format(clan.week_delta.total_trophies) }}</span
                  >
                </p>
              </div>
            </div>

            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Total BH Trophies</p>
                <p class="title">{{ "{:,}".format(clan.clanVersusPoints) }}</p>
                <p>
                  <span class="tag {{'is-success' if clan.week_delta.total_bh_trophies > 0 else 'is-danger'}}"
                    >{{ "{:+,}".format(clan.week_delta.total_bh_trophies) }}</span
                  >
                </p>
              </div>
            </div>

            <div class="level-item has-text-centered is-hidden-mobile">
              <div>
                <p class="heading">Total Donations</p>
                <p class="title">{{ "{:,}".format(clan.computed.total_donations) }}</p>
                <p>
                  <span class="tag {{'is-success' if clan.week_delta.total_donations > 0 else 'is-danger'}}"
                    >{{ "{:+,}".format(clan.week_delta.total_donations) }}</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ol>
</main>
{% endblock %} {% block title %}Explore {{ title }}{% endblock %}{% block meta %}
<meta name="description" content="Explore {{ title }} - Clash Leaders" />
<meta name="keywords" content="Explore {{ title }}, clash of clans, achievements, leaderboard" />
<meta property="og:title" content="Explore {{ title }} - Clash Leaders" />
{% endblock %}
