{% from 'country-leaderboard.html' import country_leaderboard %} {% from 'leaderboard.html' import leaderboard %} {% extends "layout.html"
%} {% block body %}
<section class="section hero is-light">
    <div class="container" id="app">
        <div class="columns is-centered is-vcentered">
            <div class="column is-3 is-hidden-mobile">
                <img src="{{ url_for('static', filename='images/strongman.png') }}" alt="Clash of Clan's Strongman">
            </div>
            <div class="column">
                <home></home>
            </div>
        </div>
        <div>
            <h3 class="has-text-centered subtitle is-5">Trophy Distribution</h3>
            <trophy-distribution></trophy-distribution>
        </div>

        <nav class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Total Clans</p>
                    <p class="title">{{ "{:,}".format(status.total_clans) }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Total Players</p>
                    <p class="title">{{ "{:,}".format(status.total_members) }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Total Countries</p>
                    <p class="title">{{ "{:,}".format(status.total_countries) }}</p>
                </div>
            </div>
        </nav>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title is-2">
            This Week's Trending Clans
        </h1>
        <div class="columns">
            <div class="column is-4">
                {{ leaderboard('Highest Donations', most_donations, "{:,.0f} donations/player") }}
            </div>
            <div class="column is-4">
                {{ leaderboard('Average Attack Wins', most_attacks, "{:,.0f} wins/player") }}
            </div>
            <div class="column is-4">
                {{ leaderboard('Average Versus Attack Wins', most_bh_attacks, "{:,.0f} wins/player") }}
            </div>
        </div>

        <div class="columns">
            <div class="column is-4">
                {{ leaderboard('War Stars Earned', most_war_stars, "{:,.0f} stars/player") }}
            </div>
            <div class="column is-4">
                {{ leaderboard('Trophies Gained', most_trophies, "{:,.0f} trophies/player") }}
            </div>
            <div class="column is-4">
                {{ country_leaderboard('Most Active Countries', most_active_country, "{:,.0f} Attacks", 1) }}
            </div>
        </div>

        <h1 class="title is-2">
            Global Leaderboards
        </h1>
        <div class="columns">
            <div class="column is-4">
                {{ leaderboard('Highest Trophies', most_points) }}
            </div>
            <div class="column is-4">
                {{ leaderboard('Highest Versus Trophies', most_vs_points) }}
            </div>
            <div class="column is-4">
                {{ country_leaderboard('Country Trophies', most_trophies_country) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"ItemList",
  "itemListElement":[
  {% for clan in most_points %}
    {
      "@type":"ListItem",
      "position": {{ loop.index }},
      "url":"{{ url_for('clan_detail_page', slug=clan.slug, _external=True) }}"
    }{% if not loop.last %},{% endif %}
   {% endfor %}
  ]
}
</script>
<script>
    window.__DISTRIBUTION__ = {{ trophy_distribution | tojson | safe }};
</script>
<script defer src="{{ url_for('static', filename=manifest_path('index.js')) }}"></script>
{% endblock %}{% block nav_class %}is-light{% endblock %}