{% from 'macros/country-leaderboard.html' import country_leaderboard %} {% from 'macros/leaderboard.html' import leaderboard %} {% extends "layout.html" %} {%
block body %}
<section class="section hero is-light">
  <div class="container" id="app">
    <div class="columns is-centered is-vcentered">
      <div class="column is-3 is-hidden-mobile">
        <picture>
          <source srcset="{{ url_for('static', filename='images/autumn-queen.webp') }}" type="image/webp" />
          <source srcset="{{ url_for('static', filename='images/autumn-queen.png') }}" type="image/png" />
          <img src="{{ url_for('static', filename='images/autumn-queen.png') }}" />
        </picture>
      </div>
      <div class="column">
        <div id="home"></div>
      </div>
    </div>
    <div class="is-hidden-mobile">
      <h3 class="has-text-centered subtitle is-5">Trophy Distribution</h3>
      <div id="distribution">

      </div>
    </div>

    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Total Clans</p>
          <p class="title">{{ "{:,}".format(status.total_clans) }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Total Players</p>
          <p class="title">{{ "{:,}".format(status.total_members) }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Total Countries</p>
          <p class="title">{{ "{:,}".format(status.total_countries) }}</p>
        </div>
      </div>
    </nav>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title is-2">Weekly Leaderboards</h1>
    <div class="columns">
      <div class="column is-4">{{ leaderboard("Trophies Gained", gained_trophies, "{:,.2f}K", 1000)}}</div>
      <div class="column is-4">{{ leaderboard("Attacks Won", most_attacks, "{:,.2f}K", 1000) }}</div>
      <div class="column is-4">{{ leaderboard("Loot Grabbed", grabbed_gold, "{:,.0f}M", factor=1000000) }}</div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h1 class="title is-2">Global Leaderboards</h1>
    <div class="columns">
      <div class="column is-4">{{ leaderboard("Highest Trophies", most_points) }}</div>
      <div class="column is-4">{{ leaderboard("Highest Versus Trophies", most_vs_points) }}</div>
      <div class="column is-4">{{ country_leaderboard("Country Trophies", most_trophies_country) }}</div>
    </div>
  </div>
</section>
{% endblock %} {% block scripts %}
<script type="application/ld+json">
  {
    "@context":"http://schema.org",
    "@type":"ItemList",
    "itemListElement":[
    {% for clan in most_points %}
      {
        "@type":"ListItem",
        "position": {{ loop.index }},
        "url":"{{ url_for('clan_detail_page', slug=clan.slug, _external=True) }}"
      }{% if not loop.last %},{% endif %}
     {% endfor %}
    ]
  }
</script>
<script>
  window.__DISTRIBUTION__ = {{ trophy_distribution | tojson | safe }};
</script>
<script defer src="{{ manifest_path('index.js') }}"></script>
<link rel="prefetch" as="script" href="{{ manifest_path('clan-page.js') }}" />
{% endblock %}{% block nav_class %}is-light{% endblock %}
