{% from 'country.html' import country_leaderboard %} {% from 'leaderboard.html' import leaderboard %} {% extends "layout.html"
%} {% block body %}
<section class="section hero is-light">
    <div class="container">
        <div class="columns is-centered is-vcentered">
            <div class="column is-3 is-hidden-mobile">
                <img src="{{ url_for('static', filename='images/strongman.png') }}" alt="Clash of Clan's Strongman">
            </div>
            <div class="column" id="home">
                <Home></Home>
            </div>
        </div>

        <nav class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Total Clans</p>
                    <p class="title">{{ "{:,}".format(status.total_clans) }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Total Members</p>
                    <p class="title">{{ "{:,}".format(status.total_members) }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Total Countries</p>
                    <p class="title">{{ "{:,}".format(status.total_countries) }}</p>
                </div>
            </div>
        </nav>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title is-2">
            This Week's Trending Clans
        </h1>
        <div class="columns">
            <div class="column is-4">
                {{ leaderboard('Highest Donations', most_donations, "{:,.0f} donations/player") }}
            </div>
            <div class="column is-4">
                {{ leaderboard('Average Attack Wins', most_attacks, "{:,.0f} wins/player") }}
            </div>
            <div class="column is-4">
                {{ leaderboard('Average Versus Attack Wins', most_bh_attacks, "{:,.0f} wins/player") }}
            </div>
        </div>

        <div class="columns">
            <div class="column is-4">
                {{ leaderboard('War Stars Earned', most_war_stars, "{:,.0f} stars/player") }}
            </div>
            <div class="column is-4">
                {{ leaderboard('Trophies Gained', most_trophies, "{:,.0f} trophies/player") }}
            </div>
            <div class="column is-4">
                {{ country_leaderboard('Most Active Countries
                <span class="tag is-success">New!</span>', most_active_country, "{:,.0f} Attacks", 1) }}
            </div>
        </div>

        <h1 class="title is-2">
            Global Ranking
        </h1>
        <div class="columns">
            <div class="column is-4">
                {{ leaderboard('Highest Trophies', most_points) }}
            </div>
            <div class="column is-4">
                {{ leaderboard('Highest Versus Trophies', most_vs_points) }}
            </div>
            <div class="column is-4">
                {{ country_leaderboard('Country Trophies
                <span class="tag is-success">New!</span>', most_trophies_country) }}
            </div>
        </div>
    </div>
</section>
{% block scripts %}
<script defer src="{{ url_for('static', filename=manifest_path('index.js')) }}"></script>{% endblock %} {% endblock %}{% block nav_class %}is-light{% endblock %}