<!DOCTYPE html>
<html lang="en">

<head>

    <title>{% block title %}Trending Clash of Clan Leaderboards{% endblock %} | Clash Leaders</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88927228-3"></script>
    <script defer src="{{ url_for('static', filename=manifest_path('vendors.js')) }}"></script> {% block scripts %} {% endblock %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=manifest_path('styles-compiled.css')) }}">
</head>

<body class="{{ request.endpoint }}">
    {% block body %}{% endblock %}
</body>

</html>