<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>{% block title %}Trending Clash of Clans Leaderboards{% endblock %} | Clash Leaders</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" type="text/css" href="{{ manifest_path('styles-compiled.css') }}" />
    {% block meta %}
    <meta
      name="description"
      content="Clash Leaders shows trending clans in Clash of Clans game. Clan achievements can be exported to a spreadsheet and compared to historical data over time."
    />
    <meta name="keywords" content="clash of clans, export, excel, achievements, Amir Raminfar, download" />
    <meta property="og:title" content="Trending Clash of Clan leaderboards - Clash Leaders" />
    <meta
      property="og:description"
      content="Clash Leaders shows trending clans in Clash of Clans game. Clan achievements can be exported to a spreadsheet and compared to historical data over time."
    />
    {% endblock %}

    <meta property="og:image" content="{{ url_for('static', filename='images/ogImage.jpg') }}" />
    <meta property="og:type" content="website" />

    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='images/favicon-96.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16.png') }}" />

    <script src="https://kit.fontawesome.com/7657a4ca8d.js" crossorigin="anonymous"></script>
    <script defer src="{{ manifest_path('shims.js') }}"></script>
    <script defer src="{{ manifest_path('vendors.js') }}"></script>
    <script defer src="{{ manifest_path('common.js') }}"></script>
    {% block scripts %} {% endblock %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2MMNK6HD8L"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2MMNK6HD8L');
    </script>
    

    <link rel="manifest" href="{{ url_for('static', filename='web-manifest.json') }}" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Clash Leaders" />
    <meta name="apple-mobile-web-app-title" content="Clash Leaders" />
    <meta name="theme-color" content="#000" />
    <meta name="msapplication-navbutton-color" content="#000" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="msapplication-starturl" content="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="icon" type="image/png" sizes="200x200" href="/static/images/logo.png" />
    <link rel="apple-touch-icon" type="image/png" sizes="200x200" href="{{ url_for('static', filename='images/logo.png') }}" />
    <script type="text/javascript">
      (window.heap = window.heap || []),
        (heap.load = function (e, t) {
          (window.heap.appid = e), (window.heap.config = t = t || {});
          var r = t.forceSSL || "https:" === document.location.protocol,
            a = document.createElement("script");
          (a.type = "text/javascript"), (a.async = !0), (a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js");
          var n = document.getElementsByTagName("script")[0];
          n.parentNode.insertBefore(a, n);
          for (
            var o = function (e) {
                return function () {
                  heap.push([e].concat(Array.prototype.slice.call(arguments, 0)));
                };
              },
              p = [
                "addEventProperties",
                "addUserProperties",
                "clearEventProperties",
                "identify",
                "resetIdentity",
                "removeEventProperty",
                "setEventProperties",
                "track",
                "unsetEventProperty",
              ],
              c = 0;
            c < p.length;
            c++
          )
            heap[p[c]] = o(p[c]);
        });
      heap.load("4114842636");
    </script>
  </head>

  <body class="{{ request.endpoint }}">
    <header>
      <nav class="navbar {% block nav_class %} {% endblock %}" aria-label="main navigation">
        <div class="navbar-brand">
          <a href="/" class="navbar-item clashleader-logo">Clash Leader</a>
          <div class="navbar-burger burger"><span></span> <span></span> <span></span></div>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            {% block nav_header %}
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="{{  url_for('explore_clans', sort='most-popular') }}"> Explore Clans </a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="{{  url_for('explore_clans', sort='most-popular') }}"> Popular Today </a>
                <a class="navbar-item" href="{{  url_for('explore_clans', sort='cwl') }}"> Best in CWL </a>
                <a class="navbar-item" href="{{  url_for('explore_clans', sort='wars') }}"> Best in Wars </a>
                <a class="navbar-item" href="{{  url_for('explore_clans', sort='donations') }}"> Most Donations </a>
                <a class="navbar-item" href="{{  url_for('explore_clans', sort='clan-games') }}"> Most Games XP </a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link"> Country Leaderboards </a>
              <div class="navbar-dropdown">
                {% for country in popular_countries %}
                <a class="navbar-item" href="{{ url_for('country_clans', code=country.code) }}">
                  <div class="media">
                    <div class="media-left"><span class="flag-icon flag-icon-{{ country.code }}"></span></div>
                    <div class="media-content">
                      <p>
                        <strong>{{ country.name }}</strong> <br />
                        <small> {{ "{:,.1f}".format(country.score / 1000) }}K Average Attacks </small>
                      </p>
                    </div>
                  </div>
                </a>
                {% endfor %}
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="/verified/reddit"> Top Reddit Clans </a>
              <div class="navbar-dropdown">
                {% for clan in reddit_clans %}
                <a class="navbar-item" href="{{ url_for('clan_detail_page', slug=clan.slug) }}">
                  <div class="media">
                    <div class="media-left">
                      <span class="icon is-large">
                        <img src="{{ imgproxy_url(clan.badgeUrls.small) }}" alt="{{ clan.name }}" />
                      </span>
                    </div>
                    <div class="media-content">
                      <p>
                        <strong>{{ clan.name }}</strong> <br />
                        <small> <i class="fas fa-map-pin" aria-hidden="true"></i> {{ clan.location.name }} </small>
                      </p>
                    </div>
                  </div>
                </a>
                {% endfor %}
              </div>
            </div>
            {% endblock %}
          </div>
          <div id="nav-end"></div>
        </div>
      </nav>
    </header>
    <main>{% block body %}{% endblock %}</main>

    <footer class="section footer is-size-6">
      <picture>
        <source srcset="{{ url_for('static', filename='images/royal-champion.webp') }}" type="image/webp" />
        <source srcset="{{ url_for('static', filename='images/royal-champion.png') }}" type="image/png" />
        <img src="{{ url_for('static', filename='images/royal-champion.png') }}" width="380px" class="bottom-hero is-hidden-mobile" />
      </picture>
      <section>
        <div class="container">
          <div class="columns">
            <div class="column is-narrow has-text-centered">
              <a href="/" class="clashleader-logo">Clash Leader</a>
            </div>
            <div class="column">
              <h6 class="has-text-weight-semibold">Website</h6>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/status">Status</a></li>
                <li><a href="/verified/reddit">Verified Reddit Clans</a></li>
              </ul>
            </div>
            <div class="column">
              <h6 class="has-text-weight-semibold">Privacy Stuff</h6>
              <ul>
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/terms">Terms of Service</a></li>
              </ul>
            </div>
            <div class="column">
              <h6 class="has-text-weight-semibold">Partnerships</h6>
              <ul>
                <li><a href="https://www.reddit.com/r/RedditClanSystem/">/r/RedditClanSystem</a></li>
                <li><a href="https://www.reddit.com/r/ClashOfClans/">/r/ClashOfClans</a></li>
                <li><a href="/tag/psychofamily">#PsychoFamily</a></li>
              </ul>
            </div>
            <div class="column">
              <ul>
                <li></li>
              </ul>
            </div>
            <div class="column is-3">
              Made with <i class="fas fa-heart has-text-danger"></i> by <a href="https://amirraminfar.me/" target="_blank" rel="noopener">Amir Raminfar</a>.

              <br />
              <br />
              <a href="https://bulma.io" target="_blank" rel="noopener">
                <picture>
                  <source srcset="{{ url_for('static', filename='images/made-with-bulma.webp') }}" type="image/webp" />
                  <source srcset="{{ url_for('static', filename='images/made-with-bulma.png') }}" type="image/png" />
                  <img src="{{ url_for('static', filename='images/made-with-bulma.png') }}" alt="Made with Bulma" width="128" height="24" />
                </picture>
              </a>
            </div>
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>
