<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">

    <title>{% block title %}Trending Clash of Clan leaderboards{% endblock %} - Clash Leaders</title>

    {% block meta %}
    <meta name=”description” content="Clash Leaders shows trending and global leaderboards. Clan achievements can be exported and compared to historical stats.">
    <meta name="keywords" content="clash of clans, export, excel, achievements, Amir Raminfar, download">
    <meta property="og:title" content="Trending Clash of Clan leaderboards - Clash Leaders">
    <meta property="og:description" content="Clash Leaders shows trending and global leaderboards. Clan achievements can be exported and compared to historical stats."> {% endblock %}

    <meta property="og:image" content="{{ url_for('static', filename='images/ogImage.jpg') }}">
    <meta property="og:type" content="website">

    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='images/favicon-96.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16.png') }}">
    <script defer src="//use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise,fetch"></script>
    <script src="{{ url_for('static', filename=manifest_path('vendor.js')) }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=manifest_path('styles.css')) }}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88927228-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-88927228-3');
    </script>
</head>

<body>
    <nav class="navbar ">
        <div class="navbar-brand">
            <a href="/" class="navbar-item clashleader-logo">Clash Leader</a>
        </div>
    </nav>
    {% block body %}{% endblock %}

    <footer class="has-text-centered section">
        <div class="container">
            <ul class="is-inline-block">
                <li class="is-inline-block">
                    <a href="/">Home</a>
                </li>
                <li class="is-inline-block">
                    <a href="https://github.com/amir20/clash-export">Github</a>
                </li>
                <li class="is-inline-block">
                    <a href="/status">Status</a>
                </li>
                <li class="is-inline-block">
                    <a href="https://www.reddit.com/r/dynastyclash/">/r/dynastyclash</a>
                </li>
                <li class="is-inline-block">© 2018 Clash Leaders is an open source project and maintained by
                    <a href="/clan/reddit-dynasty-ugjpvjr">Reddit Dynasty</a>.
                </li>
            </ul>
        </div>
        <div class="section">
            <div class="DO-logo">
                Powered by Digital Ocean
            </div>
        </div>
    </footer>
</body>

</html>