{% macro leaderboard(name, clans, property_format="{:,.0f}", factor=1) -%}
<nav class="panel leaderboard">
  <h3 class="panel-heading">{{ name }}</h3>

  {% for clan in clans %}
  <a class="panel-block" href="{{ url_for('clan_detail_page', slug=clan.slug) }}">
    <span class="panel-icon"> <img src="{{ imgproxy_url(clan.badge) }}" alt="{{ clan.name }}" /> </span> {{ clan.name }}
    <span class="value subtitle is-7">{{ property_format.format(clan.score / factor) }}</span>
  </a>
  {% endfor %}
</nav>
{%- endmacro %}
