{% extends "layout.html" %} {% block body %}
<div class="section">
  <section class="container">
    <div class="columns reverse-order">
      <div class="column is-4">
        <figure class="image">
          <img src="{{ troop.image.url() }}">
        </figure>
      </div>
      <div class="column">
        <div class="content">
          <h1 class="title">{{ troop.name }}</h1>
          <div class="tags has-addons">
            <span class="tag is-dark">Base</span>
            <span class="tag is-primary">{{ troop.base }}</span>
          </div>
          {{ troop.description | markdown | safe }}
        </div>
      </div>
    </div>
  </section>
</div>
<div class="section" id="app">
  <div class="container">
    <troop-average-distribution :averages="{{ averages | tojson | forceescape }}"></troop-average-distribution>
  </div>
</div>
{% endblock %}{% block title %}{{ troop.name }}{% endblock %}
{% block scripts %}
<script defer src="{{ manifest_path('troop-page.js') }}"></script>
{% endblock %}
