$class-prefix: "coc-sprite--";
$sprite-image-url: "/static/images/coc-sprite.png";
$sprite-grid-size: 40px;

$troops: (
  ("barbarian", 45, 0) ("archer", 46, 0) ("giant", 68, 0) ("goblin", 57, 0)
    ("wall-breaker", 69, 0) ("balloon", 70, 0) ("wizard", 71, 0)
    ("healer", 72, 0) ("dragon", 73, 0) ("p-e-k-k-a", 74, 0) ("baby-dragon", 54, 0)
    ("miner", 55, 0) ("minion", 47, 0) ("hog-rider", 48, 0) ("valkyrie", 49, 0)
    ("golem", 50, 0) ("witch", 51, 0) ("lava-hound", 52, 0) ("bowler", 53, 0)
    ("electro-dragon", 67, 0) ("raged-barbarian", 56, 0)
    ("sneaky-archer", 58, 0) ("boxer-giant", 60, 0) ("beta-minion", 59, 0)
    ("bomber", 61, 0) ("baby-dragon", 62, 0) ("cannon-cart", 63, 0)
    ("night-witch", 64, 0) ("drop-ship", 65, 0) ("super-pekka", 66, 0)
);

$heros: (
  ("barbarian-king", 10, 0) ("archer-queen", 11, 0) ("grand-warden", 12, 0)
    ("battle-machine", 13, 0)
);

$spells: (
  ("rage-spell", 16, 0, 20) ("jump-spell", 17, 0, 22)
    ("freeze-spell", 18, 0, 24) ("clone-spell", 22, 0, 32)
    ("skeleton-spell", 23, 0, 34) ("poison-spell", 19, 0, 26)
    ("earthquake-spell", 20, 0, 28) ("haste-spell", 21, 0, 30)
    ("lightning-spell", 14, 0, 16) ("healing-spell", 15, 0, 18)
);

@mixin icon($row, $column, $offset: 27) {
  background-position: #{-$column * $sprite-grid-size} #{-
    ($row * $sprite-grid-size + $offset)};
}

[class*="#{$class-prefix}"] {
  display: inline-block;
  width: $sprite-grid-size;
  height: $sprite-grid-size;
  line-height: $sprite-grid-size;
  background-image: url(#{$sprite-image-url});
  background-repeat: no-repeat;
  border-radius: 4px;
  background-size: 50px 3026px;
}

@each $troop in $troops {
  $name: nth($troop, 1);
  $row: nth($troop, 2);
  $column: nth($troop, 3);

  .#{$class-prefix}#{$name} {
    @include icon($row, $column);
  }
}

@each $hero in $heros {
  $name: nth($hero, 1);
  $row: nth($hero, 2);
  $column: nth($hero, 3);

  .#{$class-prefix}#{$name} {
    @include icon($row, $column, 15);
  }
}

@each $spell in $spells {
  $name: nth($spell, 1);
  $row: nth($spell, 2);
  $column: nth($spell, 3);
  $offset: nth($spell, 4);

  .#{$class-prefix}#{$name} {
    @include icon($row, $column, $offset);
  }
}
