ol.leaderboard {
  list-style: none;

  & li {
    display: block;
    margin: 1.5em 0;

    &.active {
      & a {
        background: #23d160;
        color: whitesmoke !important;
        margin: 0.4em 0;
        pointer-events: none;

        &::before {
          color: whitesmoke;
        }

        &::after {
          content: "";
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 20px solid #23d160;
          position: absolute;
          right: -20px;
          height: 0;
          width: 0;
          display: block;
          top: 16px;
        }
      }
    }

    & a {
      color: #363636;
      display: block;
      padding: 0.5em 0.8em;
      border-radius: 3px;
      position: relative;

      & .media {
        display: inline-flex;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }

      &::before {
        content: attr(data-position) ". ";
        border-radius: 100%;
        color: #363636;
        font-weight: bold;
        position: relative;
        font-size: 1.2em;
        top: -20px;
        left: -3px;
      }
    }
  }
}
