ol.leaderboard {
  list-style: none;

  & li {
    margin-bottom: 5px;
    display: block;
    margin: 0.8em 0;
    border-radius: 3px;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }

    &.active {
      background: #23d160;
      & a {
        color: whitesmoke;
      }

      &::before {
        color: whitesmoke;
      }
    }

    &:before {
      margin-right: 5px;
      margin-left: 5px;
      content: attr(value)". ";
      border-radius: 100%;
      color: #363636;
      font-weight: bold;
      font-size: 1.2em;
      top: -21px;
      position: relative;
    }
    & a {
      color: #363636;
      display: inline-block;
    }
  }
}
