$flag-icon-css-path: "~flag-icon-css/flags/";

$navbar-breakpoint: 1260px;

@import "~bulma";
@import "~flag-icon-css/sass/flag-icon";
@import "./similar-clans";
@import "./components";
@import "./charts";
@import "./sprite";

@include retina-sprites($retina-groups);

.tooltip:before {
  text-transform: none;
  text-align: left;
  line-height: 1.2em;
}

html,
.table-wrapper {
  overflow: unset;
}

body {
  font-family: "Titillium Web", Arial, sans-serif;
}

.notices {
  z-index: 1200;
}

header {
  background-color: whitesmoke;
  z-index: 1100;
}

#app .hero-footer {
  z-index: 1000;
}

@media screen and (min-width: 769px) {
  body.clan_detail_page {
    display: grid;

    & header > nav.navbar,
    & main > #app > section.hero > div,
    & footer > section {
      width: 100vw;
      position: sticky;
      left: 0;
    }
  }
}

body.clan_detail_page main > #app .hero-footer {
  padding: 0.85em;
}

.leaderboard {
  & .panel-icon {
    font-size: 20px;
    margin-right: 0.45em;
  }

  & .value {
    margin-left: auto;
  }
}

.clan-description {
  & a {
    text-decoration: underline;
  }
}

.clashleader-logo {
  background-image: url("../images/logo.svg");
  width: 250px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999em;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  display: inline-block;
}

.is-expanded {
  flex: 1 0 auto;
}

.navbar-item.nav-search-item {
  min-width: 285px;
}

.reddit-color {
  color: #eb6200 !important;
}

.has-loader {
  &.is-loading {
    position: relative;
    pointer-events: none;
    opacity: 0.5;

    &:after {
      @include loader;
      position: absolute;
      top: calc(50% - 2.5em);
      left: calc(50% - 2.5em);
      width: 3em;
      height: 3em;
      border-width: 0.25em;
    }
  }
}

.reverse-order {
  flex-direction: row-reverse;
}

.is-touch-only {
  display: none;
  @media (hover: none) and (pointer: coarse) {
    display: block;
  }
}

.footer {
  position: relative;
  overflow: hidden;
  .bottom-hero {
    position: absolute;
    left: -90px;
  }
}
