$flag-icon-css-path: "~flag-icon-css/flags/";

@import "~bulma";
/* @import "~buefy/src/scss/buefy"; */
@import "~flag-icon-css/sass/flag-icon";
@import "~bulma-tooltip";
@import "./similar-clans.css";

body {
  font-family: "Titillium Web";
}

.leaderboard {
  & .panel-icon {
    font-size: 20px;
    margin-right: 0.45em;
  }
  & .value {
    margin-left: auto;
  }
}

.clan-description {
  & a:hover {
    text-decoration: underline;
  }
}

.clashleader-logo {
  background-image: url("../images/logo.svg");
  width: 250px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999em;
  line-height: 1.5;
  padding: .5rem 1rem;
  display: inline-block;
}

.is-expanded {
  flex: 1 0 auto;
}

.nav-search {
  flex: 0 0 60%;
}


.DO-logo {
  background-image: url("../images/DO_Powered_by_Badge_blue.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999em;
  height: 35px;
  width: 170px;
  display: inline-block;
}
