$flag-icon-css-path: "~flag-icon-css/flags/";

@import "~bulma";
@import "~flag-icon-css/sass/flag-icon";
@import "./similar-clans.css";
@import "~buefy/src/scss/utils/_all";
@import "~buefy/src/scss/components/_autocomplete";
@import "~buefy/src/scss/components/_dropdown";
@import "~buefy/src/scss/components/_form";
@import "~buefy/src/scss/components/_icon";
@import "~buefy/src/scss/components/_loading";
@import "~buefy/src/scss/components/_message";
@import "~buefy/src/scss/components/_notices";
@import "~buefy/src/scss/components/_panel";
@import "~buefy/src/scss/components/_select";
@import "~buefy/src/scss/components/_table";
@import "~buefy/src/scss/components/_tag";
@import "~chartist/dist/scss/chartist";
@import "~bulma-tooltip";

.tooltip:before {
  text-transform: none;
  text-align: left;
  line-height: 1.2em;
}

.ct-area {
  fill-opacity: 0.4;
}

body {
  font-family: "Titillium Web";
}

.leaderboard {
  & .panel-icon {
    font-size: 20px;
    margin-right: 0.45em;
  }
  & .value {
    margin-left: auto;
  }
}

.clan-description {
  & a:hover {
    text-decoration: underline;
  }
}

.clashleader-logo {
  background-image: url("../images/logo.svg");
  width: 250px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999em;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  display: inline-block;
}

.is-expanded {
  flex: 1 0 auto;
}

.nav-search {
  flex: 0 0 60%;
}

.DO-logo {
  background-image: url("../images/DO_Powered_by_Badge_blue.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999em;
  height: 35px;
  width: 170px;
  display: inline-block;
}

.reddit-color {
    color: #eb6200 !important;
}
