$flag-icon-css-path: "~flag-icon-css/flags/";

@import "~bulma";
@import "~flag-icon-css/sass/flag-icon";
@import "./similar-clans.css";
@import "~buefy/src/scss/utils/_all";
@import "~buefy/src/scss/components/_autocomplete";
@import "~buefy/src/scss/components/_dropdown";
@import "~buefy/src/scss/components/_form";
@import "~buefy/src/scss/components/_icon";
@import "~buefy/src/scss/components/_loading";
@import "~buefy/src/scss/components/_message";
@import "~buefy/src/scss/components/_notices";
@import "~buefy/src/scss/components/_panel";
@import "~buefy/src/scss/components/_select";
@import "~buefy/src/scss/components/_table";
@import "~buefy/src/scss/components/_tag";
@import "~bulma-tooltip";
@import "./charts";

.tooltip:before {
  text-transform: none;
  text-align: left;
  line-height: 1.2em;
}

body {
  font-family: "Titillium Web";
}

.notices {
  z-index: 1200;
}

header {
  background-color: whitesmoke;
  z-index: 1100;
}

#app .hero-footer {
  z-index: 1000;
}

body.clan_detail_page {
  display: grid;

  & header > nav.navbar,
  & main > #app > section.hero > div,
  & footer > section {
    width: 100vw;
    position: sticky;
    left: 0;
  }
}

.leaderboard {
  & .panel-icon {
    font-size: 20px;
    margin-right: 0.45em;
  }
  & .value {
    margin-left: auto;
  }
}

.clan-description {
  & a {
    text-decoration: underline;
  }
}

.clashleader-logo {
  background-image: url("../images/logo.svg");
  width: 250px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999em;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  display: inline-block;
}

.is-expanded {
  flex: 1 0 auto;
}

.navbar-item.nav-search-item {
  min-width: 285px;
}

.DO-logo {
  background-image: url("../images/DO_Powered_by_Badge_blue.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999em;
  height: 35px;
  width: 170px;
  display: inline-block;
}

.reddit-color {
  color: #eb6200 !important;
}
