{% macro clan_list(clans) -%}
<ol>
  {% for clan in clans %}
  <li class="media">
    <figure class="media-left">
      <p class="image is-64x64"><img src="{{ imgproxy_url(clan.badgeUrls.medium) }}" alt="{{ clan.name }} badge" loading="lazy" /></p>
    </figure>
    <div class="media-content columns">
      <div class="column">
        <div class="content">
          <p>
            <strong>
              <a href="{{ url_for('clan_detail_page', slug=clan.slug) }}">{{ clan.name }}</a>
            </strong>
            <small
              >from {% if clan.location.countryCode %} <span class="flag-icon flag-icon-{{ clan.location.countryCode | lower }}"></span> {% endif %} {{
              clan.location.name }}
            </small>
            <small>with {{ clan.members }} members</small> <br />
            {{ clan.rich_description | safe }}
          </p>
        </div>
      </div>
      <div class="column is-5-desktop is-6-tablet is-4-widescreen">
        <div class="level is-mobile">
          <div class="level-item has-text-centered">
            <div>
              <p class="title {{ scorecard_class(scorecard(clan.month_delta.avg_cwl_stars_percentile)) }}">{{ scorecard(clan.month_delta.avg_cwl_stars_percentile) }}</p>
              <p class="heading">War League</p>
            </div>
          </div>

          <div class="level-item has-text-centered">
            <div>
              <p class="title {{ scorecard_class(scorecard(clan.week_delta.avg_war_stars_percentile)) }}">{{ scorecard(clan.week_delta.avg_war_stars_percentile) }}</p>
              <p class="heading">Clan Wars</p>
            </div>
          </div>

          <div class="level-item has-text-centered">
            <div>
              <p class="title {{ scorecard_class(scorecard(clan.week_delta.avg_donations_percentile)) }}">{{ scorecard(clan.week_delta.avg_donations_percentile) }}</p>
              <p class="heading">Donations</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ol>
{%- endmacro %}
