{% extends "layout.html" %} {% block body %}
<nav class="navbar">
    <div class="navbar-brand">
        <h1 class="navbar-item">
            ClashStats.Download
        </h1>
    </div>
</nav>
<section class="hero is-warning is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <p class="title">
                        {{ clan.name }}
                    </p>
                    <p class="subtitle">
                        {{ clan.description }}
                    </p>
                </div>
                <div class="column is-narrow">
                    <img src="{{ clan['badgeUrls']['medium'] }}">
                </div>

            </div>
        </div>
    </div>
    </div>
    <div class="hero-footer">
        <div class="container">
            <nav class="tabs is-boxed">
                <ul>
                    <li>
                        <a href="/">Players</a>
                    </li>
                    <li>
                        <a href="/">Wars</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<section id="clan-table">
    <Clan-Table tag="{{ clan.tag }}" name="{{ clan.name }}" :players='{{ players | tojson | safe}}' />
</section>
<script src="{{ url_for('static', filename=manifest_path('details-page.js')) }}"></script> {% endblock %} {% block title %}{{ clan.name }}{% endblock %} {% block meta %}
<meta name=”description” content="{{ clan.name }} | {{ clan.description }} at ClashStats.download.">
<meta name="keywords" content="{{ clan.name }}, clash of clans, export, excel, achievements, leaderboard">
<meta property="og:title" content="{{ clan.name }} - ClashStats.download">
<meta property="og:description" content="{{ clan.name }} | {{ clan.description }} at ClashStats.download."> {% endblock %}