{% extends "layout.html" %} {% block body %}
<nav class="navbar ">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="ClashStats Logo">
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="text" placeholder="Find a repository">
                        </div>
                        <div class="control">
                            <a class="button is-success">
                                Search
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</nav>
<section class="hero is-warning is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-narrow">
                    <figure class="image is-128x128">
                        <img src="{{ clan['badgeUrls']['medium'] }}">
                    </figure>
                </div>
                <div class="column">
                    <p class="title">
                        {{ clan.name }}
                    </p>
                    <p class="subtitle">
                        {{ clan.description }}
                    </p>
                </div>
            </div>
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Total Trophies</p>
                        <p class="title">{{ "{:,}".format(clan.clanPoints) }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Avg Donations / Player</p>
                        <p class="title">{{ "{:,.1f}".format(clan.week_delta.avg_donations) }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Avg Wins / Player</p>
                        <p class="title">{{ "{:,.1f}".format(clan.week_delta.avg_attack_wins) }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Avg Versus Wins / Player</p>
                        <p class="title">{{ "{:,.1f}".format(clan.week_delta.avg_versus_wins) }}</p>
                    </div>
                </div>
            </nav>
            <div class="columns">
                <div class="column has-text-centered">
                    <div class="dropdown is-hoverable is-right has-text-left">
                        <div class="dropdown-trigger">
                            <button class="button is-danger" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span class="icon">
                                    <i class="fa fa-download"></i>
                                </span>
                                <span>Download</span>
                                <span class="icon is-small">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="{{ clan.slug }}.xlsx">
                                    Today
                                </a>
                                <hr class="dropdown-divider">
                                <a class="dropdown-item" href="{{ clan.slug }}.xlsx?daysAgo=1">
                                    Yesterday
                                </a>
                                <a class="dropdown-item" href="{{ clan.slug }}.xlsx?daysAgo=2">
                                    Two Days Ago
                                </a>
                                <a class="dropdown-item" href="{{ clan.slug }}.xlsx?daysAgo=3">
                                    Three Days Ago
                                </a>
                                <hr class="dropdown-divider">
                                <a class="dropdown-item" href="{{ clan.slug }}.xlsx?daysAgo=7">
                                    Last Week
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-footer">
        <div class="container">
            <nav class="tabs is-boxed" id="tabs">
                <Tabs></Tabs>
            </nav>
        </div>
    </div>
</section>
<section id="clan-table">
    <Clan-Table tag="{{ clan.tag }}" name="{{ clan.name }}" :players='{{ players | tojson | safe}}' />
</section>
<script src="{{ url_for('static', filename=manifest_path('details-page.js')) }}"></script> {% endblock %} {% block title %}{{ clan.name }}{% endblock %} {% block meta %}
<meta name=”description” content="{{ clan.name }} | {{ clan.description }} at ClashStats.download.">
<meta name="keywords" content="{{ clan.name }}, clash of clans, export, excel, achievements, leaderboard">
<meta property="og:title" content="{{ clan.name }} - ClashStats.download">
<meta property="og:description" content="{{ clan.name }} | {{ clan.description }} at ClashStats.download."> {% endblock %}