{% extends "layout.html" %} {% block body %}
<main id="clan-table">
    <Clan-Table tag="{{ clan.tag }}" name="{{ clan.name }}" :players='{{ players | tojson | safe}}'/>
</main>
<script src="{{ url_for('static', filename=manifest_path('details-page.js')) }}"></script> {% endblock %} 
{% block title %}{{ clan.name }}{% endblock %} {% block meta %}
<meta name=”description” content="{{ clan.name }} | {{ clan.description }} at ClashStats.download.">
<meta name="keywords" content="{{ clan.name }}, clash of clans, export, excel, achievements, leaderboard">
<meta property="og:title" content="{{ clan.name }} - ClashStats.download">
<meta property="og:description" content="{{ clan.name }} | {{ clan.description }} at ClashStats.download."> {% endblock %}