{% from 'leaderboard.html' import leaderboard %} {% extends "layout.html" %} {% block body %}
<main class="container">
    <div class="columns is-centered is-vcentered">
        <div class="column is-3 is-hidden-mobile">
            <img src="{{ url_for('static', filename='images/hog.png') }}" alt="Hog Rider">
        </div>
        <div class="column" id="home">
            <Home/>
        </div>
    </div>

    <h1 class="title is-2">
        This Week's Trending Clans
        <span class="tag is-success">New!</span>
    </h1>
    <div class="columns">
        <div class="column is-4">
            {{ leaderboard('Highest Donations', most_donations, "{:,.0f} donations/player") }}
        </div>
        <div class="column is-4">
            {{ leaderboard('Average Attack Wins', most_attacks, "{:,.0f} wins/player") }}
        </div>
        <div class="column is-4">
            {{ leaderboard('Average Versus Attack Wins', most_bh_attacks, "{:,.0f} wins/player") }}
        </div>
    </div>

    <div class="columns">
        <div class="column is-4">
            {{ leaderboard('War Stars Earned', most_war_stars, "{:,.0f} stars/player") }}
        </div>
        <div class="column is-4">
            {{ leaderboard('Trophies Gained', most_trophies, "{:,.0f} trophies/player") }}
        </div>
        <div class="column is-4">
            {{ leaderboard('Average Loot Grabbed', most_loot) }}
        </div>
    </div>

    <h1 class="title is-2">
        Global Ranking
        <span class="tag is-success">New!</span>
    </h1>
    <div class="columns">
        <div class="column is-4">
            {{ leaderboard('Highest Trophies', most_points) }}
        </div>
        <div class="column is-4">
            {{ leaderboard('Highest Versus Trophies', most_vs_points) }}
        </div>
        <div class="column is-4">
            {{ leaderboard('Current War Win Streak', most_win_streak) }}
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename=manifest_path('index.js')) }}"></script> {% endblock %}