{% from 'leaderboard.html' import leaderboard %} {% extends "layout.html" %} {% block body %}
<main class="container">
    <div class="columns is-centered is-vcentered">
        <div class="column is-3 is-hidden-mobile">
            <img src="{{ url_for('static', filename='images/hog.png') }}" alt="Hog Rider">
        </div>
        <div class="column" id="home">
            <Home />
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-3 ">
            {{ leaderboard('Most Donated', most_donations) }}
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename=manifest_path('index.js')) }}"></script> {% endblock %}