{% extends "layout.html" %} {% block body %}
<main class="container">
    <div class="columns is-centered is-vcentered">
        <div class="column is-3 is-hidden-mobile">
            <img src="{{ url_for('static', filename='images/hog.png') }}" alt="Hog Rider">
        </div>
        <div class="column" id="home">
            <section class="hero">
                <div class="hero-body">
                    <h1 class="title is-1">
                        Hey, Chief!
                    </h1>
                    <h2 class="subtitle">
                        I can help you find your clan and export all your member achievements. Let's start finding your clan by
                        <strong>tag</strong>. Enter your clan tag below.
                    </h2>
                </div>
            </section>
                        
            <Home />
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename=manifest_path('index.js')) }}"></script> {% endblock %}