{% from 'leaderboard.html' import leaderboard %} {% extends "layout.html" %} {% block body %}
<main class="container">
    <div class="columns is-centered is-vcentered">
        <div class="column is-3 is-hidden-mobile">
            <img src="{{ url_for('static', filename='images/hog.png') }}" alt="Hog Rider">
        </div>
        <div class="column" id="home">
            <Home />
        </div>
    </div>
    <nav class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Total Clans</p>
                    <p class="title">{{ "{:,}".format(status.total_clans) }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Following</p>
                    <p class="title">123</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Followers</p>
                    <p class="title">456K</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Likes</p>
                    <p class="title">789</p>
                </div>
            </div>
        </nav>
    
    <h1 class="title is-2">
        Trending Clans
        <span class="tag is-success">New!</span>
    </h1>
    <div class="columns is-variable is-8">
        <div class="column is-4">
            {{ leaderboard('Most Donated', most_donations) }}
        </div>
        <div class="column is-4">
            {{ leaderboard('Most Attacks', most_attacks) }}
        </div>
        <div class="column is-4">
            {{ leaderboard('Most Loot Gained', most_loot) }}
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename=manifest_path('index.js')) }}"></script> {% endblock %}